<div class="invoice-add container">
  <div class="row">

    <span><strong>Adicionar Nota</strong> </span>
  </div> 
    <label><strong>Loja</strong></label>
    <input type="text"  class="form-control col-sm-6" placeholder="Razão social, nome fantasia ou CNPJ">
    <div class="row">
      <div class="d-flex flex-row bd-highlight mb-3" >
        <div class="col-sm-2">
          <label><strong> NO DA NOTA </strong></label>
          <input type="date" class="form-control" placeholder="---">
        </div>
        <div class="col-sm-2">
          <label><strong>DATA DA NOTA</strong></label>
          <input type="date" class="form-control" placeholder="---">
        </div>  
        <div class="payment col-sm-2">
          <label><strong>FORMA DE PAGAMENTO</strong></label>
          <select class="custom-select" id="inputGroupSelect01">
            <option> Selecionar</option>
          </select>
        </div>
        <div class="payment col-sm-2">
          <label><strong>Valor</strong></label>
          <input prefix="R$" type="number" >
        </div>
      </div>
    </div>
  </div>