.invoice-add.container {
    margin-top:10%;
    left: -15%;
    position: relative;
    span {
        font-style: italic;
        position: relative;
        top: 26%;
        left: 3%;
    }
    
    margin-left: 45%;

input,select {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray; 
}

label {
    font-size: 65%;
    font-family: sans-serif;
    margin-left: 1%;
    margin-bottom: 0%;
    

}

}