.container.main{
    width: 50%;
    height: 70%;
   
    margin-top: -77;
    div{

        overflow-y:hidden;
    
        overflow-x:hidden;
    }
    .nav.nav-tabs{
        margin-left:11%;
        margin-top:1%;
        width: 142%;
        border:none;
        li{
           a{ color:black;}
            &:hover{
            border-bottom: 2px solid blue;
            
        }
        &:active {
            border-bottom: 2px solid blue;
        }
        &:visited{
            border-bottom: 2px solid blue;
        }
        &:after {
            transition: width .3s;
        }
         }
         
         hr {
            width: 116%;
            margin-top: 0rem;
         }
    }
}