div{
    .detalhes{
        button{
            background:none;
            color: inherit;
            border:none;
        }
        img{
            width: 30px;
            height: 30px;
        }
    }
}