.invoice-create.container {

        margin-top:10%;
        margin-left: 30%;
       
        span {
                font-family: sans-serif;
                font-style: italic;
                position: relative;
                top: 26%;
                left: 1%;
        }

        table {
                
                thead {
                        background-color:ghostwhite;
                        tr { td {
                              
                                font-size: 73%;
                        }
                        }
                }
                tbody {
                        td {
                                border: 1px soli ghostwhite;
                                font-size: 73%;
                        }
                        }
        }


}