.invoice-create.container {

        margin-top:10%;
        margin-left: 30%;
        width: 60%;
       
        span {
                font-family: sans-serif;
                font-style: italic;
                position: relative;
                top: 16%;
                left: 1%;
        }

        table {
                width: 600px;
                
                thead {
                        background-color:ghostwhite;
                        tr { td {
                              
                                font-size: 73%;
                        }
                        }
                }
                tbody { .tr1{
                        button {
                                border: none;
                                background:none;
                                border: none;
                                 margin-left: -80%;
                                 margin-top: 15%;
                        img {
                                 width: 30px;
                                 height: 30px;}

                        }
                        td {
                                border: 1px soli ghostwhite;
                                font-size: 73%;

                             
                        }}
                        .tr2 {
                                opacity: 0.5;
                                button {
                                        border: none;
                                        background:none;
                                        border: none;
                                         margin-left: -80%;
                                         margin-top: 15%;
                                img {
                                         width: 30px;
                                         height: 30px;}
        
                                }
                                td {
                                        border: 1px soli ghostwhite;
                                        font-size: 73%;
        
                                     
                                }}
                           
                                
                        }

                        
        }


        div{  ul {  display: flex;
                flex-direction: column;
                padding-left: 86px;
                margin-bottom: 0;
                margin-top: -15%;
                margin-left: 51%;
                li {
                        font-family: sans-serif;
             
                        font-style: initial;

                        button.bot {
                                border: none;
                                background:none;
                                border: none;
                        
                                 
                        }
                    }
                }}
}