.invoice-create.container {


        margin-left: 30%;
        width: 60%;
        margin-top: 15%;
      .row {  span {
                font-family: sans-serif;
                font-style: italic;
                position: relative;
              
                left: 1%;
                margin-top: 0%
                
              
        } 
}

        table {
                width: 734px;
                
                thead {
                        background-color:ghostwhite;
                        tr { td {
                              
                                font-size: 73%;
                        }
                        }
                }
                tbody { tr{
                        button {
                                border: none;
                                background:none;
                                border: none;
                                 margin-left: -80%;
                                 margin-top: 15%;
                        img {
                                 width: 30px;
                                 height: 30px;}

                        }
                        td {
                                color:black;
                                font-size: 73%;

                             
                        }}
                        .tr2 {
                                opacity: 0.5;
                                button {
                                        border: none;
                                        background:none;
                                        border: none;
                                         margin-left: -80%;
                                         margin-top: 15%;
                                img {
                                         width: 30px;
                                         height: 30px;
                                         margin-top: 11%;
                                        }
        
                                }
                                td {
                                        border: 1px soli ghostwhite;
                                        font-size: 73%;
        
                                     
                                }}
                           
                                
                        }

                        
        }

        .row.reverse {
                flex-direction: row;
                justify-content: flex-end;
                margin-left: 3%;
                display: flex;
                width: 101%;
                padding-left: initial;
                
        }
        div{  ul {  display: flex;
                flex-direction: column;
                padding-left: 86px;
                margin-bottom: 0;
                margin-top: -15%;
                margin-left: 51%;
                li {
                        font-family: sans-serif;
             
                        font-style: initial;

                        button.bot {
                                border: none;
                                background:none;
                                border: none;
                        
                                 
                        }
                    }
                }}
}