<div class="invoice-create container">
  <div class="row">
    <span><strong>Cadastrar notas </strong></span>
  </div>
  <div class="row">
<span><strong>Você precisa confirmar o cadastro dessa lista de notas </strong></span>
</div>  
<table class="table table-bordered col-sm-6">
    <thead>
      <tr>
        <td> <strong>LOJA</strong></td>
        <td> <strong>NO DA NOTA</strong></td>
        <td> <strong>DATA DA NOTA</strong> </td>
        <td> <strong>CADASTRO</strong></td>
        <td> <strong>VALOR</strong></td>
    </tr> 
    </thead>
    <tbody>
        <tr > 
          <td>teste</td>
          <td>teste</td>
          <td>teste</td>
          <td>teste</td>
          <td>teste</td>
        </tr>
    </tbody>
  </table>
</div>