.user-list.container {
    
    margin-left: -140%;
    margin-top: 28%;
ul {
    li {
       button {
        border: none;
        background: none;
        font-family: sans-serif;
        font-style: normal;
        border-bottom: silver 2px;
        color: #888787;
        margin-left: 39%;
        margin-top: 6%;
        font-size: 129%;
    }
    }
}
}