.user-list.container {
    
    margin-left: -140%;
    margin-top: 28%;
ul {    margin-left: -22%;
    li {
        margin-left: 80%;
    width: 123%;
    background-color: #eaeaea4a;
    border: none;
    border-bottom: #d0cdcd8f solid 2px;
       button {
        margin-left: -2%;
    
        border: none;
        background: none;
        font-family: sans-serif;
        font-style: normal;
        border-bottom: silver 2px;
        color: #888787;
        
        margin-top: 6%;
        font-size: 129%;
    }
    }
}
.user-list.container[_ngcontent-c7] ul[_ngcontent-c7] li[_ngcontent-c7] button[_ngcontent-c7] {
   
    border: none;
    background: none;
    font-family: sans-serif;
    font-style: normal;
    border-bottom: silver 2px;
    color: #888787;
    margin-top: 6%;
    font-size: 129%;
}
}