.transactions.container {

    margin-top: 5%;

    margin-left: 29%;
table {
    thead {
            tr {
                font-size: 81%;
                td {
                    color: darkgray;
                    margin-top:100%} }
    }
}
}