.transactions.container {

    margin-top: 5%;
    max-width: 523px;
    margin-left: 29%;
table {
    thead {
            tr {
                font-size: 81%;
                td {
                    
                    color: darkgray;
                    margin-top:100%;
                    text-align: center;
                }
                 }
    }

    tbody {
      td{  width: 50%;
        text-align: center;}
    }
}

hr {
    margin-top: 1rem;
    width: 872px;
    margin-bottom: 1rem;
    border: 0;
    margin-left: 370px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
}