.transactions.container {

    margin-top: 5%;
    max-width: 523px;
    margin-left: 29%;
table {
    thead {
            tr {
                font-size: 81%;
                td {
                    color: darkgray;
                    margin-top:100%;
                    text-align: center;
                }
                 }
    }

    tbody {
      td{  width: 30%;
        text-align: center;}
    }
}
}