<div class="container search">
   <div class="form-row">
    <div class="form-group col-sx-10 col-sm-8 col-md-10">
        <input type="text"  [ngModel]="termoDaPesquisa" class="form-control"   placeholder="Pesquise por Cliente..."  #termoDaPesquisa>
    </div>
       
    <div class="form-group col-sx-4 col-sm-4 col-md-2"> 
        <button class="btn-secondary"  (click)="pesquisa(termoDaPesquisa.value)">
            <i class="fas fa-search">
                <img src="../../assets/25313.svg">
            </i>
        </button>
    </div>
</div> 
</div>
